---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Show } from "solid-js";
import { getCollection } from "astro:content";
import { SiTwitter } from "solid-icons/si";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  GLOBAL_STYLE,
  BIO,
  AVATAR_SRC,
} from "../consts";
import Card from "@/components/Card.astro";
import PostCard from "../components/PostCard.astro";

const wrestling_posts = (await getCollection("wrestling"))
  .filter((post) => post.data.pinned)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const project_posts = (await getCollection("project"))
  .filter((post) => post.data.pinned)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Card variant={GLOBAL_STYLE} id="avatar-bio">
        <img src={AVATAR_SRC} alt="avatar" />
        <section id="bio">
          <h2 class="emphasize">
            {SITE_TITLE}
          </h2>
          <p>
            {BIO}
          </p>
          <div>
            <p>
              <strong> Contact me: </strong>
            </p>
            <div id="contact">
              <a
                class="icon-link"
                href="https://x.com/CanofSpriteMan"
                target="_blank"
                aria-label="Twitter"
              >
                <SiTwitter size={32} />
              </a>
              <a
                class="icon-link"
                href="https://bsky.app/profile/sprite.newlegacyinc.tv"
                target="_blank"
                aria-label="Twitter"
              >
                <img
                  height="32"
                  width="32"
                  src="https://cdn.simpleicons.org/bluesky/1b1b17"
                />
              </a>
              <a
                class="icon-link"
                href="https://ko-fi.com/spritepw"
                target="_blank"
                aria-label="Ko-Fi"
              >
                <img
                  height="32"
                  width="32"
                  src="https://cdn.simpleicons.org/kofi/1b1b17"
                />
              </a>
              <a
                class="icon-link"
                href="mailto:contact@spritepw.com"
                target="_blank"
                aria-label="Email"
              >
                <img
                  height="32"
                  width="32"
                  src="https://cdn.simpleicons.org/gmail/1b1b17"
                />
              </a>
            </div>
          </div>
        </section>
      </Card>

      <Card variant={GLOBAL_STYLE}>
        <h3>Education & Experience</h3>
      </Card>
      <section id="pinned-container">
        <Card class="post-card" variant={GLOBAL_STYLE}>
          <div class="img-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              width="256"
              height="256"
              viewBox="0 0 256 256"
              xml:space="preserve"
            >
              <g
                style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
              >
                <path
                  d="M 81.417 58.756 V 34.724 l -4.281 1.407 v 22.626 c -1.93 0.833 -3.286 2.752 -3.286 4.983 s 1.356 4.15 3.286 4.983 v 8.536 c 0 1.182 0.958 2.14 2.14 2.14 s 2.14 -0.958 2.14 -2.14 v -8.535 c 1.93 -0.832 3.287 -2.751 3.287 -4.983 C 84.704 61.508 83.347 59.588 81.417 58.756 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 45 45.956 c -1.716 0 -3.432 -0.274 -5.1 -0.821 L 21.018 38.93 v 17.436 c 0 1.013 0.7 1.917 1.703 2.2 c 14.783 4.17 29.775 4.171 44.559 0 c 1.002 -0.283 1.702 -1.188 1.702 -2.2 V 38.93 l -18.884 6.205 C 48.431 45.682 46.716 45.956 45 45.956 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 88.589 24.19 L 49.386 11.309 c -2.871 -0.943 -5.904 -0.943 -8.772 0 L 1.411 24.19 c -1.881 0.618 -1.881 3.278 0 3.896 l 39.203 12.881 c 2.869 0.942 5.901 0.943 8.772 0 l 39.203 -12.881 C 90.47 27.469 90.47 24.808 88.589 24.19 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
              </g>
            </svg>
          </div>
          <h4>Education</h4>
          <p>Bachelor of Science, Computer Science with Games Technology</p>
          <p>2019</p>
        </Card>
        <Card class="post-card" variant={GLOBAL_STYLE}>
          <div class="img-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              width="256"
              height="256"
              viewBox="0 0 256 256"
              xml:space="preserve"
            >
              <g
                style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
              >
                <path
                  d="M 88.239 22.91 c -0.786 -0.952 -1.796 -1.713 -2.949 -2.201 c -0.923 -0.39 -1.937 -0.606 -3.002 -0.606 H 63.325 v -6.466 c 0 -6.352 -5.168 -11.519 -11.519 -11.519 H 38.195 c -6.352 0 -11.52 5.167 -11.52 11.519 v 6.466 H 7.713 c -1.065 0 -2.079 0.216 -3.002 0.606 c -1.153 0.488 -2.163 1.248 -2.949 2.201 C 0.661 24.243 0 25.952 0 27.816 v 52.353 c 0 4.26 3.453 7.713 7.713 7.713 h 74.575 c 4.26 0 7.713 -3.453 7.713 -7.713 V 27.816 C 90 25.952 89.339 24.243 88.239 22.91 z M 34.371 13.637 c 0 -2.108 1.715 -3.823 3.824 -3.823 h 13.611 c 2.109 0 3.824 1.715 3.824 3.823 v 6.466 H 34.371 V 13.637 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
              </g>
            </svg>
          </div>
          <h4>Experience</h4>
          <p>Frontend Web Development - 10 years</p>
          <p>Backend Web Development - 5 years</p>
          <p>Mobile Development - 4 years</p>
          <p>Quality Assurance - 6 years</p>
        </Card>
        <Card class="post-card" variant={GLOBAL_STYLE}>
          <div class="img-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              width="256"
              height="256"
              viewBox="0 0 256 256"
              xml:space="preserve"
            >
              <g
                style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
              >
                <path
                  d="M 82.939 32.54 c -2.685 0 -5.092 -1.544 -6.326 -3.929 c -0.246 -0.475 -0.504 -0.948 -0.774 -1.416 c -0.27 -0.468 -0.55 -0.928 -0.839 -1.378 c -1.448 -2.26 -1.582 -5.118 -0.24 -7.443 l 0 0 c 1.95 -3.377 0.793 -7.695 -2.584 -9.645 l -9.353 -5.4 c -3.377 -1.95 -7.695 -0.793 -9.645 2.584 l -0.002 0.003 c -1.323 2.291 -3.814 3.641 -6.456 3.512 c -1.148 -0.056 -2.301 -0.056 -3.455 0 c -2.637 0.128 -5.123 -1.226 -6.443 -3.513 l -0.001 -0.002 c -1.95 -3.377 -6.268 -4.534 -9.645 -2.585 l -9.353 5.4 c -3.377 1.95 -4.534 6.268 -2.584 9.645 l 0.001 0.002 c 1.32 2.287 1.25 5.116 -0.179 7.336 c -0.625 0.971 -1.201 1.97 -1.727 2.992 c -1.209 2.353 -3.624 3.835 -6.27 3.835 H 7.061 C 3.161 32.54 0 35.701 0 39.6 V 50.4 c 0 3.9 3.161 7.061 7.061 7.061 l 0 0 c 2.685 0 5.092 1.544 6.326 3.929 c 0.246 0.475 0.504 0.947 0.774 1.416 c 0.27 0.468 0.55 0.928 0.839 1.378 c 1.448 2.26 1.582 5.118 0.24 7.443 c -1.95 3.377 -0.793 7.695 2.584 9.645 l 9.353 5.4 c 3.377 1.95 7.695 0.793 9.645 -2.584 l 0.002 -0.003 c 1.323 -2.291 3.814 -3.641 6.456 -3.512 c 1.148 0.056 2.301 0.056 3.455 0.001 c 2.637 -0.128 5.123 1.226 6.443 3.513 l 0.001 0.002 c 1.95 3.377 6.268 4.534 9.645 2.584 l 9.353 -5.4 c 3.377 -1.95 4.534 -6.268 2.584 -9.645 l -0.001 -0.002 c -1.32 -2.286 -1.25 -5.116 0.179 -7.336 c 0.625 -0.971 1.201 -1.97 1.727 -2.992 c 1.209 -2.353 3.624 -3.835 6.27 -3.835 h 0.003 c 3.9 0 7.061 -3.161 7.061 -7.061 L 90 39.6 C 90 35.701 86.839 32.54 82.939 32.54 z M 45 73.124 c -15.508 0 -28.125 -12.617 -28.125 -28.125 S 29.491 16.875 45 16.875 c 15.508 0 28.125 12.617 28.125 28.125 S 60.508 73.124 45 73.124 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <circle
                  cx="44.998000000000005"
                  cy="40.66799999999999"
                  r="8.508"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform="  matrix(1 0 0 1 0 0) "></circle>
                <path
                  d="M 28.639 67.863 c 1.072 -8.072 8.001 -14.32 16.361 -14.32 c 8.361 0 15.289 6.248 16.361 14.321 C 50.453 78.262 39.546 78.262 28.639 67.863 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
              </g>
            </svg>
          </div>
          <h4>Skills</h4>
          <p>
            Programming Languages: Python, C#, Javascript, Dart, Typescript,
            HTML, CSS, SQL
          </p>
          <p>
            Technologies: MySQL, AWS, Git, Redis, Firebase, React, SolidJS,
            Express, Flask, Flutter, Jira, Selenium
          </p>
          <p>Operating Systems: Windows, Linux</p>
        </Card>
      </section>

      <Show when={project_posts.length > 0}>
        <Card variant={GLOBAL_STYLE}>
          <h3>Pinned Projects</h3>
        </Card>
        <section id="pinned-container">
          {
            project_posts.map((post) => (
              <PostCard
                {...post.data}
                slug={post.slug}
                collection={"project"}
              />
            ))
          }
        </section>
      </Show>

      <Show when={wrestling_posts.length > 0}>
        <Card variant={GLOBAL_STYLE}>
          <h3>Pinned Wrestling</h3>
        </Card>
        <section id="pinned-container">
          {
            wrestling_posts.map((post) => (
              <PostCard
                {...post.data}
                slug={post.slug}
                collection={"wrestling"}
              />
            ))
          }
        </section>
      </Show>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 70rem;
    width: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
  }

  main > * {
    margin-bottom: 2rem;
  }

  main > *:last-child {
    margin-bottom: 0;
  }

  #avatar-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  #avatar-bio > img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  #bio {
    max-width: 20rem;
  }

  @media (max-width: 700px) {
    #avatar-bio {
      flex-direction: column;
    }

    #bio {
      max-width: 100%;
    }
  }

  #bio > p {
    line-height: 1.5;
    letter-spacing: 0.02rem;
  }

  #bio > * {
    margin-bottom: 0.75rem;
  }

  #bio > *:last-child {
    margin-bottom: 0;
  }

  #contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.25rem;
    gap: 1rem;
  }

  .icon-link {
    height: 2rem;
    width: 2rem;
  }

  #pinned-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: -1.5rem;
  }
</style>
